---
const { postUrl, postTitle, postAuthor, postDate, postTags, postDescription } =
  Astro.props;

const tags = String(postTags);
const arrTags = Array.from(tags.split(','));

const arrTagUrls: any = [];
arrTags.forEach(tag => {
  arrTagUrls.push(`/tags/${tag}`);
});

// const compiledContent = postContent();
---

<div class="blog-card">
  <h2 class="post-title">
    {postTitle}
  </h2>
  <p class="post-author">{postAuthor}</p>
  <span class="post-date">{postDate}</span>

  <p class="post-tags">
    {
      arrTags.map((tag: any, i) => (
        <a class="post__tag" href={arrTagUrls[i]}>
          {tag}
        </a>
      ))
    }
  </p>

  <hr />

  <p class="post-description">{postDescription}</p>
  <a class="btn__read-more" href={postUrl}>Read more...</a>
</div>

<style>
  .blog-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(240, 230, 140);
    background-color: rgba(20, 20, 0, 0.3);
    backdrop-filter: blur(5px);
    color: azure;
    box-shadow: 5px 5px 10px 0 #000000aa;

    .post-title,
    .post-author {
      font-family: 'sriracha';
      line-height: 1.1;
    }

    .post-date {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-family: 'josefin sans';
    }

    .post-tags {
      display: flex;
      gap: 0.5rem;
      margin: 0.5rem 0 1rem;

      .post__tag {
        text-decoration: none;
        border: 1px solid rgb(240, 230, 140);
        border-radius: 5px;
        padding: 0 5px;
        color: rgb(240, 230, 140);
        transition: scale 150ms ease;

        &:hover {
          scale: 1.1;
        }
      }
    }

    hr {
      border-color: rgb(240, 230, 140);
    }

    .post-description {
      overflow-wrap: break-word;
      overflow: hidden;
      text-overflow: clip;
      margin: 0.5rem 0;
    }

    .btn__read-more {
      text-decoration: none;
      color: rgb(240, 230, 140);
      font-family: 'nothing you could do';

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>

<script></script>
