---
import Nav from "../components/Nav.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Script&family=Nothing+You+Could+Do&family=Quicksand:wght@300..700&family=Sarpanch:wght@400;500;600;700;800;900&family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <title>Doug's Thoughts - {frontmatter.title}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="#" class="header-icon__link" title="Portfolio">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="header-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z"
            ></path>
          </svg>
        </a>

        <Nav />
      </header>

      <div class="content">
        <h1>{frontmatter.title}</h1>
        <h3>Post author: {frontmatter.author}</h3>
        <p>{frontmatter.pubDate}</p>
        <br />
        <hr />
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-inline: 5rem;
    background-color: azure;
    box-shadow: 0 2px 10px 0 #00000088;
  }

  .content {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    min-width: 320px;
    padding: 2rem;
    box-shadow: 3px 5px 7px 0 #00000077;
    border-radius: 10px;
  }
</style>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "quicksand";
  }

  .header-icon {
    width: 2.5rem;
  }

  .header-icon__link {
    color: black;

    transition: color 150ms ease;

    &:hover {
      color: slategray;
    }
  }
</style>
